@* Copyright 2014 Murray Grant
    //
    //    Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    //    Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
*@
@using MurrayGrant.PasswordGenerator.Web.Helpers

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            @if (String.IsNullOrEmpty(ViewBag.Title)) {
                @:Make Me a Password
            } else { 
                @ViewBag.Title @:- Make Me a Password
            }
        </title>
        <meta name="description" content="Generate a hard to guess, easy to remember password.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="author" href="/humans.txt" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="/favicon.png" />

@if (WebBundleHelper.EmitOptimised())
{
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" 
              integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" crossorigin="anonymous"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"
              integrity="sha384-pIrFIoLkb4ShAzISGfPaqiBdVEfrWuOg97ThMRufKm9YjlXIYWIR8sEYI3IwosS6" crossorigin="anonymous"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" 
              integrity="sha384-+2PnMSZobRWHUFuaarq2tDCtf7FFSZpeMRVRe7C0l8bRZMBTjUinKl1AuYRON/A2" crossorigin="anonymous"/>
        <link rel="stylesheet" href="~/Content/css/Site.min.css?v=@WebBundleHelper.CacheBreakerFor("~/Content/css/Site.min.css")" />
    <!--[if lte IE 8]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
                integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"
                integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
    <![endif]-->
}
else
{
        <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/Content/css/font-awesome.css" />
        <link rel="stylesheet" href="~/Content/css/Site.css" />
    <!--[if lte IE 8]>
        <script src="~/Content/scripts/html5shiv.js"></script>
        <script src="~/Content/scripts/respond.js"></script>
    <![endif]-->
}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        @Html.Partial("_TopNavbar")

        <div class="container">
            <div class="alert alert-danger alert-dismissible" role="alert" id="domainChangeAlert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4>Make Me a Password is Moving!</h4>
                <p>
                    Please update links, references, and bookmarks to <strong><a href="https://makemeapassword.ligos.net">makemeapassword.ligos.net</a></strong>.
                </p>
                <p>
                    <a href="/faq#domainchange">See the FAQ for more information and the timeline for the move</a>.
                </p>
                <p>
                    You will be automatically redirected in 20 seconds.
                </p>
            </div>
        </div>

        <div class="container container-body">
            @RenderBody()
        </div>

        @Html.Partial("_Footer")


@if (WebBundleHelper.EmitOptimised())
{
        <script src="//code.jquery.com/jquery-1.10.2.min.js"
                integrity="sha384-hK8q2gkBjirpIGHAH+sgqYMv6i6mfx2JVZWJ50jyYhkuEHASU6AS1UTWSo32wuGL" crossorigin="anonymous"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"
                integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script>
        <script src="~/Content/scripts/site-main.min.js?v=@WebBundleHelper.CacheBreakerFor("~/Content/scripts/site-main.min.js")"></script>
}
else
{
        <script src="~/Content/scripts/jquery.js"></script>
        <script src="~/Content/scripts/bootstrap.js"></script>
        <script src="~/Content/scripts/site-main.js"></script>
}
        @RenderSection("scripts", required: false)
    </body>
</html>
